/* src/components/AddNewContact.module.css */

.addContactContainer {
    background-color: #f1fff3;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
  }
  
  .addIconContainer {
    background-color: #00d09e;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  
  .addIcon {
    color: #ffffff;
    font-size: 24px;
  }
  
  .addContactText {
    font-size: 20px;
    font-weight: 500;
    color: #1E1E1E;
  }
  