/* src/components/CardModal.module.css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
    padding: 20px;
}

.modalHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modalImage {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.modalTitle {
    font-size: 24px;
    color: #000;
    margin: 0;
}

.modalButtonsContainer {
    display: flex;
    flex-direction: column;
}

.modalButton {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.modalButton:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.buttonIcon {
    margin-right: 15px;
}

.buttonText {
    flex: 1;
}

.buttonHeader {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
}

.buttonBody {
    font-size: 14px;
    color: #666;
}