/* src/components/ContactRow.module.css */

.contactRow {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #e3fcee;
  }
  
  .contactImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .contactName {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    flex: 1;
  }
  
  .statusAvailable {
    font-size: 16px;
    font-weight: bold;
    color: #00D09E;
  }
  
  .statusUnavailable {
    font-size: 16px;
    color: #1E1E1E;
  }
  